<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFile" value="C:\KME\log.txt"/>
    

    <add key="BitMapStartHold" value="1"/>
    <add key="BitMapSkiveriLaget" value="4"/>
    <!--Hundremeter = 2,
    Tohundremeter = 4,
    GrovFelt = 8,
    FinFelt = 16,-->
    <add key="BitMapStevneType" value="Tohundremeter" />
    <add key="BitMapDir" value="C:\Orion2\Eksport" />
    <add key="BitMapBackupDir" value="C:\Orion2\BitMap\bkup" />
    <add key="BitMapFetchTimeOut" value="1" />
    <add key="LoggingLevels" value="Info"/>
    <add key="ConfigFile" value="C:\Users\lan\Source\Repos\ResultsWeb\bin\Debug\SetupConfiguration.config"/>
    

    <!--  Error = 10,
         
        /// <summary>
        /// Output informational messages, warnings, messages.
        /// </summary>
        Warning = 15,
        
        /// <summary>
        /// Output informational messages, warnings, and error-handling messages.
        /// </summary>
        Info = 20,
        /// <summary>
        /// Output tracing and informational messages, warnings, and error-handling messages.
        /// </summary>
        Trace = 30, -->
  </appSettings>  
</configuration>