<?xml version="1.0" encoding="utf-8" ?>
<SetupConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BaneType>FinFelt</BaneType>
  <BitMapSkiveriLaget>12</BitMapSkiveriLaget>
  <BitMapDir>C:\Orion2\Eksport</BitMapDir>
  <BitMapBackupDir>C:\Orion2\BitMap</BitMapBackupDir>
  <BitMapFetchTimeOut>60</BitMapFetchTimeOut>
  <PausedBetweenHold>true</PausedBetweenHold>
  <HoldConfig>
    <HoldType>Minne</HoldType>
    <HoldNr>0</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>2</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>1</HoldNr>
    <StartSkive>3</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
    <FixLagnr>true</FixLagnr>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>2</HoldNr>
    <StartSkive>5</StartSkive>
    <SluttSkive>6</SluttSkive>
    <VenteBenk>0</VenteBenk>
    <FixLagnr>true</FixLagnr>
  </HoldConfig>
    <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>3</HoldNr>
    <StartSkive>7</StartSkive>
    <SluttSkive>8</SluttSkive>
    <VenteBenk>0</VenteBenk>
    <FixLagnr>true</FixLagnr>
  </HoldConfig>
    <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>4</HoldNr>
    <StartSkive>9</StartSkive>
    <SluttSkive>10</SluttSkive>
    <VenteBenk>0</VenteBenk>
    <FixLagnr>true</FixLagnr>
  </HoldConfig>
    <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>2</HoldNr>
    <StartSkive>11</StartSkive>
    <SluttSkive>12</SluttSkive>
    <VenteBenk>0</VenteBenk>
    <FixLagnr>true</FixLagnr>
  </HoldConfig>
  <!--<HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>3</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>4</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>5</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>-->
</SetupConfiguration>