<?xml version="1.0" encoding="utf-8" ?>
<SetupConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BaneType>GrovFelt</BaneType>
  <BitMapSkiveriLaget>16</BitMapSkiveriLaget>
  <BitMapDir>C:\Orion2\Eksport</BitMapDir>
  <BitMapBackupDir>C:\Orion2\BitMap</BitMapBackupDir>
  <BitMapFetchTimeOut>60</BitMapFetchTimeOut>
  <PausedBetweenHold>true</PausedBetweenHold>
  <HoldConfig>
    <HoldType>Minne</HoldType>
    <HoldNr>0</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>3</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>1</HoldNr>
    <StartSkive>5</StartSkive>
    <SluttSkive>7</SluttSkive>
    <VenteBenk>1</VenteBenk>
    <FixLagnr>true</FixLagnr>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>4</HoldNr>
    <StartSkive>14</StartSkive>
    <SluttSkive>16</SluttSkive>
    <VenteBenk>4</VenteBenk>
    <FixLagnr>true</FixLagnr>
  </HoldConfig>
 </SetupConfiguration>