<?xml version="1.0" encoding="utf-8" ?>
<SetupConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BaneType>GrovFelt</BaneType>
  <BitMapSkiveriLaget>4</BitMapSkiveriLaget>
  <BitMapDir>C:\Orion2\Eksport</BitMapDir>
  <BitMapBackupDir>C:\Orion2\BitMap</BitMapBackupDir>
  <BitMapFetchTimeOut>1</BitMapFetchTimeOut>
  <PausedBetweenHold>true</PausedBetweenHold>
  <HoldConfig>
    <HoldType>Minne</HoldType>
    <HoldNr>0</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>1</HoldNr>
    <StartSkive>5</StartSkive>
    <SluttSkive>8</SluttSkive>
    <VenteBenk>1</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>2</HoldNr>
    <StartSkive>9</StartSkive>
    <SluttSkive>12</SluttSkive>
    <VenteBenk>2</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>3</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>4</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
  <HoldConfig>
    <HoldType>Felt</HoldType>
    <HoldNr>5</HoldNr>
    <StartSkive>1</StartSkive>
    <SluttSkive>4</SluttSkive>
    <VenteBenk>0</VenteBenk>
  </HoldConfig>
</SetupConfiguration>