<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="LeonInstallDir" value="C:\KTS\Resultater" />
    <add key="Skytterlag" value="Bodø-Østre Skytterlag" />
    <add key="Lisens" value="Qk9Ew5jDmFNUUkUgU0tZVFRFUkxBRzsyMDE4LTA2LTMwVDAwOjAwOjAw" />
    <add key="LogFile" value="logfile200m.txt" />
    <add key="LoggingLevels" value="Trace" />
    <!--add key="FtpServer" value="ftp.livevisning.com"/-->
    <!--add key="FtpUserName" value="bos@livevisning.com"/-->
    <add key="FtpServer" value="ftp.bodo-ostre.no"/>
    <add key="FtpUserName" value="resultatservice@bodo-ostre.no"/>
    <add key="FtpPassWord" value="rxkx9g826ro3"/>
    <!--<add key="RemoteDir" value="nnm2018/200m;nnm2018/grovfelt;nnm2018/milbane;nnm2018/milfelt;nnm2018/stangfelthurtig"/>-->
    <add key="RemoteDir" value="resultater/bane"/>
    <add key="RemotePdfFileName" value="resultater.pdf"/>

    <!--<add key="BitMapStartHold" value="1"/>
    <add key="BitMapSkiveriLaget" value="2"/>-->
    <!--Hundremeter = 2,
    Tohundremeter = 4,
    GrovFelt = 8,
    FinFelt = 16,-->
    <!--<add key="BitMapStevneType" value="FinFelt" />
    <add key="BitMapDir" value="C:\Orion2\BitMap" />
    <add key="BitMapBackupDir" value="C:\Orion2\BitMap\bkup" />
    <add key="BitMapFetchTimeOut" value="1" />-->

    <add key="LastStevneType" value="100m" />
    <add key="RemoteBitMapDir15m" value="C:\Orion2\BitMap" />
    <add key="RemoteBitMapDir100m" value="K:\BitMap"/>
    <add key="RemoteBitMapDirFinFelt" value="K:\BitMap"/>
    <add key="RemoteBitMapDir200m" value="\\NYSTANDPLASS200\Data\BITMAP"/>
    <add key="RemoteBitMapDirGrovFelt" value="C:\NNMR\1;C:\NNMR\2"/>

    <!--<add key="RemoteBitMapDir" value="15m/BitMaps" />-->
    <add key="UploadBitmap" value="true"/>
    <add key="UploadXml" value="true"/>
    <add key="LoggingLevels" value="Info"/>

    <!--<add key="OppropListeMal" value="C:\SendingResults\Config\opproplistemal.html"/>
    <add key="RapportXsltFil" value="C:\SendingResults\Config\RapportXslt.xslt"/>
    <add key="TopListXsltFil" value="C:\SendingResults\Config\TopListeXslt.xslt"/>
    <add key="TopListSkyttereXsltFil" value="C:\SendingResults\Config\SkytteriLag.xslt"/>
    <add key="TopListLagSkyttereXsltFil" value="C:\SendingResults\Config\SkytteriLagskyting.xslt"/>-->

     <add key="OppropListeMal" value="C:\Users\lan\source\repos\ResultsWeb\WebResults\Common\FileUploaderService\KME\opproplistemal.html"/>
    <add key="RapportXsltFil" value="C:\Users\lan\source\repos\ResultsWeb\WebResults\Common\FileUploaderService\Leon\RapportXslt.xslt"/>
    <add key="TopListXsltFil" value="C:\Users\lan\source\repos\ResultsWeb\WebResults\Common\FileUploaderService\Leon\TopListeXslt.xslt"/>
    <add key="TopListSkyttereXsltFil" value="C:\Users\lan\source\repos\ResultsWeb\WebResults\Common\FileUploaderService\Leon\SkytteriLag.xslt"/>
    <add key="TopListLagSkyttereXsltFil" value="C:\Users\lan\source\repos\ResultsWeb\WebResults\Common\FileUploaderService\Leon\SkytteriLagskyting.xslt"/>
 
    <add key="DebugXslt" value="true"/>
  </appSettings>
</configuration>
